html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  height: 3rem;
  background: #1a1a1a;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-left: 1rem;
}

nav ul a {
  color: white;
  text-decoration: none;
}

.home {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 1rem;
  gap: 1rem;
}

.home-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.shop {
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  overflow: auto;
}

.shop-header {
  text-align: center;
  width: 100%;
  border: 1px solid black;
}

.shop-content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
  padding: 2rem;
  border: 1px solid black;
  margin: 2rem 10rem;
  overflow: auto;
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  text-align: center;
  height: 300px;
  width: 250px;
  border: 1px solid black;
  padding: 1rem;
  gap: 0.5rem;
}

.shop-item-title {
  margin-bottom: auto;
  border: 1px solid black;
}

.shop-item-img {
  max-height: 5rem;
  border: 1px solid black;
}

.cart-summary {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  top: 0;
  right: 1rem;
  height: 3rem;
  color: white;
  cursor: pointer;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  gap: 1rem;
  width: 20vw;
  margin-left: auto;
}

.cart-header {
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  overflow: auto;
  border: 1px solid black;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
}

.checkout-button {
  margin-top: auto;
  border: 1px solid black;
}
