html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  height: 3rem;
  background: #1a1a1a;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-left: 1rem;
}

nav ul a {
  color: white;
  text-decoration: none;
}

.home {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 1rem;
  gap: 1rem;
}

.home-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.shop {
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  overflow: auto;
}

.page-header-text {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #1a1a1a;
  color: white;
  border-radius: 5px;
}

.shop-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 6rem;
  padding: 1rem;
  width: 100%;
  overflow: auto;
  border-radius: 5px;
}

.shop-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 250px;
  padding: 1rem;
  gap: 0.5rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.shop-item-img {
  margin-bottom: auto;
  max-height: 5rem;
  font-size: 1rem;
}

.shop-item-title {
  font-size: 0.8rem;
}

.add-to-cart-button {
  background-color: #1a1a1a;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #3a3a3a;
}

.cart-summary {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  top: 0;
  right: 1rem;
  height: 3rem;
  color: white;
  cursor: pointer;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 25rem;
  margin-left: auto;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 5px;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}

.cart-item-img {
  max-height: 3rem;
  max-width: 3rem;
}

.cart-item-title {
  font-size: 0.8rem;
}

.cart-item-details {
  margin-left: auto;
  background-color: #1a1a1a;
  color: white;
  border-radius: 5px;
  width: 80%;
  padding: 0.5rem;
}

.checkout-link {
  background-color: #1a1a1a;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.checkout-link:hover {
  background-color: #3a3a3a;
}

.quantity-selectors {
  display: flex;
  gap: 0.2rem;
}

.quantity-selectors input {
  text-align: center;
  max-width: 2rem;
}

.checkout {
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  overflow: auto;
}

.checkout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.checkout-main {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100%;
}

.checkout-item {
  display: flex;
  border: 1px solid black;
}

.checkout-promo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #1a1a1a;
  border-radius: 5px;
  color: white;
  margin-top: auto;
  margin-bottom: 1rem;
}

.checkout-info {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.cash-money {
  background-color: #1a1a1a;
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  width: 10rem;
}

.money {
  display: flex;
  justify-content: space-between;
}

.payment-button {
  background-color: #1a1a1a;
  color: white;
  border-radius: 5px;
  margin-left: auto;
  padding: 0.5rem;
  width: 5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.payment-button:hover {
  background-color: #3a3a3a;
}
